<!doctype html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Formulario Modelo 1</title>
  </head>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!doctype html>

  <html lang="en">

    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <title>Microsoft Malware Prediction</title>
    </head>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Code CSS -->
    <style>

      /* Custom translucent site header */
      .site-header {
        background-color: rgba(0, 0, 0, .85);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
      }
      .site-header a {
        color: #cfd8dc;
        transition: ease-in-out color .15s;
      }
      .site-header a:hover {
        color: #FFF;
        text-decoration: none;
      }

      body.dark-mode {
        background-color: #2E4053;
        color: white;
        a {
          color: blue;
        }
        b {
          color:black;
        }
        /* change the background color */
        .moonbutton {
          background-color: white;
          color: gray;
        }
      }

      body.light-mode {
        background-color: white;
        color: black;
        a {
          color: black;
        }
        .moonbutton {
          background-color: black;
          color: white;
        }
      }

      .opacity {
        background-color:rgb(255,0,0);
        opacity:0.6; /* Opacidad 60% */
      }

      /* Extra utilities */
      .border-top { border-top: 1px solid #e5e5e5; }
      .border-bottom { border-bottom: 1px solid #e5e5e5; }
      .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

      .flex-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
      }
      @media (min-width: 768px) {
        .flex-md-equal > * {
          -ms-flex: 1;
          -webkit-box-flex: 1;
          flex: 1;
        }
      }

      .overflow-hidden { overflow: hidden; }

      .boton-uno {
        background-color: DodgerBlue;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 12px 16px;
        font-size: 10px;
        cursor: pointer;
      }

      .bg-text{
        color: white;
      }

      .body{
        background-image: url("https://image.freepik.com/vector-gratis/codigo-binario-fondo-negro_1302-11246.jpg");
      }

      .bg {
        /* The image used */
        background-image: url("https://image.freepik.com/vector-gratis/codigo-binario-fondo-negro_1302-11246.jpg");

        /* Half height */
        height: 50%;
        width: auto;
        opacity: 0.2;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
      }

      .formulario{
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 50px;
        margin-bottom: 10px;
      }

    </style>


    <body id="mybody" class="light-mode">

      <!-- Add navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-ligh site-header sticky-top" style="background-color: #00838f">
        <div class="container">
          <a class="navbar-header" href="/">
            <span class="h5"> Microsoft Malware Prediction</span>
          </a>
          <a class="nav-link" href="/">Inicio </a>
          <a class="nav-link" href="">Modelo 1 <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="">Modelo 2 </a>
          <a class="nav-link" href="">Modelo 3 </a>
          <button class="btn btn-secondary" name="dark_light" onclick="toggleDarkLight()">
            <i class="fa fa-moon-o d-none d-md-inline-block" aria-hidden="true"></i>
          </button>
        </div>
      </nav>

      <!-- Formulario -->
      <div class="container">
      <form class="formulario form-inline" method="POST" action="{{url_for('procesar')}}">

        <div class="d-md-flex mr-md-3 px-md-2 ">
          <input type="submit" value="Calcular" class="btn btn btn-secondary">
        </div>

        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">ProductName</label>
              <div>
                <input name="ProductName" required type="number" placeholder="4" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">EngineVersion</label>
              <div>
                <input name="EngineVersion" required type="number" placeholder="62" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">AppVersion</label>
              <div>
                <input name="AppVersion" required type="number" placeholder="59" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">IsBeta</label>
              <div>
                <input name="IsBeta" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">IsSxsPassiveMode</label>
              <div>
                <input name="IsSxsPassiveMode" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

        </div>


        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">AVProductsInstalled</label>
              <div>
                <input name="AVProductsInstalled" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">AVProductsEnabled</label>
              <div>
                <input name="AVProductsEnabled" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">HasTpm</label>
              <div>
                <input name="HasTpm" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">CountryIdentifier</label>
              <div>
                <input name="CountryIdentifier" required type="number" placeholder="28" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">CityIdentifier</label>
              <div>
                <input name="CityIdentifier" required type="number" placeholder="81302" class="form-control">
              </div>
            </div>
          </div>

        </div>

        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">OrganizationIdentifier</label>
              <div>
                <input name="OrganizationIdentifier" required type="number" placeholder="15" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">LocaleEnglishNameIdentifier</label>
              <div>
                <input name="LocaleEnglishNameIdentifier" required type="number" placeholder="168" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Platform</label>
              <div>
                <input name="Platform" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Processor</label>
              <div>
                <input name="Processor" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">OsBuild</label>
              <div>
                <input name="OsBuild" required type="number" placeholder="9" class="form-control">
              </div>
            </div>
          </div>

        </div>


        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">OsSuite</label>
              <div>
                <input name="OsSuite" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">OsPlatformSubRelease</label>
              <div>
                <input name="OsPlatformSubRelease" required type="number" placeholder="4" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">IsProtected</label>
              <div>
                <input name="IsProtected" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">SMode</label>
              <div>
                <input name="SMode" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">IeVerIdentifier</label>
              <div>
                <input name="IeVerIdentifier" required type="number" placeholder="97" class="form-control">
              </div>
            </div>
          </div>

        </div>



        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">SmartScreen</label>
              <div>
                <input name="SmartScreen" required type="number" placeholder="12" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Firewall</label>
              <div>
                <input name="Firewall" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">UacLuaenable</label>
              <div>
                <input name="UacLuaenable" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_MDC2FormFactor</label>
              <div>
                <input name="Census_MDC2FormFactor" required type="number" placeholder="2" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_DeviceFamily</label>
              <div>
                <input name="Census_DeviceFamily" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>

        </div>



        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_OEMNameIdentifier</label>
              <div>
                <input name="Census_OEMNameIdentifier" required type="number" placeholder="1668" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_OEMModelIdentifier</label>
              <div>
                <input name="Census_OEMModelIdentifier" required type="number" placeholder="4451" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_ProcessorCoreCount</label>
              <div>
                <input name="Census_ProcessorCoreCount" required type="number" placeholder="3" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_ProcessorManufacturerIdentifier</label>
              <div>
                <input name="Census_ProcessorManufacturerIdentifier" required type="number" placeholder="3" class="form-control">
              </div>
            </div>
          </div>




        </div>



        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_PrimaryDiskTypeName</label>
              <div>
                <input name="Census_PrimaryDiskTypeName" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_HasOpticalDiskDrive</label>
              <div>
                <input name="Census_HasOpticalDiskDrive" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_ChassisTypeName</label>
              <div>
                <input name="Census_ChassisTypeName" required type="number" placeholder="24" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_InternalPrimaryDiagonalDisplaySizeInInches</label>
              <div>
                <input name="Census_InternalPrimaryDiagonalDisplaySizeInInches" required type="number" placeholder="148" class="form-control">
              </div>
            </div>
          </div>




        </div>


        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_InternalPrimaryDisplayResolutionHorizontal</label>
              <div>
                <input name="Census_InternalPrimaryDisplayResolutionHorizontal" required type="number" placeholder="689" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_PowerPlatformRoleName</label>
              <div>
                <input name="Census_PowerPlatformRoleName" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_InternalBatteryNumberOfCharges</label>
              <div>
                <input name="Census_InternalBatteryNumberOfCharges" required type="number" placeholder="40983" class="form-control">
              </div>
            </div>
          </div>



        </div>



        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_OSBuildRevision</label>
              <div>
                <input name="Census_OSBuildRevision" required type="number" placeholder="38" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_OSEdition</label>
              <div>
                <input name="Census_OSEdition" required type="number" placeholder="10" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_OSInstallTypeName</label>
              <div>
                <input name="Census_OSInstallTypeName" required type="number" placeholder="7" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_OSInstallLanguageIdentifier</label>
              <div>
                <input name="Census_OSInstallLanguageIdentifier" required type="number" placeholder="25" class="form-control">
              </div>
            </div>
          </div>

        </div>

        <div class="d-md-flex">


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_OSWUAutoUpdateOptionsName</label>
              <div>
                <input name="Census_OSWUAutoUpdateOptionsName" required type="number" placeholder="4" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_IsPortableOperatingSystem</label>
              <div>
                <input name="Census_IsPortableOperatingSystem" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_GenuineStateName</label>
              <div>
                <input name="Census_GenuineStateName" required type="number" placeholder="1" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_ActivationChannel</label>
              <div>
                <input name="Census_ActivationChannel" required type="number" placeholder="2" class="form-control">
              </div>
            </div>
          </div>




        </div>


        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_IsFlightsDisabled</label>
              <div>
                <input name="Census_IsFlightsDisabled" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_FlightRing</label>
              <div>
                <input name="Census_FlightRing" required type="number" placeholder="4" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_FirmwareManufacturerIdentifier</label>
              <div>
                <input name="Census_FirmwareManufacturerIdentifier" required type="number" placeholder="405" class="form-control" >
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_FirmwareVersionIdentifier</label>
              <div>
                <input name="Census_FirmwareVersionIdentifier" required type="number" placeholder="24663" class="form-control">
              </div>
            </div>
          </div>




        </div>


        <!-- Fila 3 -->
        <div class="d-md-flex">


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_IsSecureBootEnabled</label>
              <div>
                <input name="Census_IsSecureBootEnabled" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_IsVirtualDevice</label>
              <div>
                <input name="Census_IsVirtualDevice" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>



          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_IsTouchEnabled</label>
              <div>
                <input name="Census_IsTouchEnabled" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_IsPenCapable</label>
              <div>
                <input name="Census_IsPenCapable" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

        </div>

        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_IsAlwaysOnAlwaysConnectedCapable</label>
              <div>
                <input name="Census_IsAlwaysOnAlwaysConnectedCapable" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Wdft_IsGamer</label>
              <div>
                <input name="Wdft_IsGamer" required type="number" placeholder="0" class="form-control">
              </div>
            </div>
          </div>

        </div>


        <!-- Fila 3 -->
        <div class="d-md-flex">

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Wdft_RegionIdentifier</label>
              <div>
                <input name="Wdft_RegionIdentifier" required type="number" placeholder="9" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_TotalPhysicalRAMGB</label>
              <div>
                <input name="Census_TotalPhysicalRAMGB" required type="number" placeholder="4" class="form-control">
              </div>
            </div>
          </div>

          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_SystemVolumeTotalCapacityGB</label>
              <div>
                <input name="Census_SystemVolumeTotalCapacityGB" required type="number" placeholder="287" class="form-control">
              </div>
            </div>
          </div>


          <div class="mr-md-2 px-md-2">
            <div class="my-3 p-2">
              <label class="col-lg-4 control-label">Census_PrimaryDiskTotalCapacityGB</label>
              <div>
                <input name="Census_PrimaryDiskTotalCapacityGB" required type="number" placeholder="403" class="form-control">
              </div>
            </div>
          </div>



        </div>

      </form>
    </div>





      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <script>
       function toggleDarkLight() {
         var body = document.getElementById("mybody");
         var currentClass = body.className;
         body.className = currentClass == "dark-mode" ? "light-mode" : "dark-mode";
       }

        Holder.addTheme('thumb', {
          bg: '#55595c',
          fg: '#eceeef',
          text: 'Thumbnail'
        });
      </script>

    </body>

</html>
